<div class="component">
    <hr class="mb-5 mt-4">
    <div class="presentation-only">
        <div class="social-button">
          <a class="iwh myacc" href="#"> Sign In</a>
        </div>
        <div class="social-button">
          <a class="gsign" (click)="signInWithGoogle()"><span class="gicon s-ico"></span>Sign in with Google</a>
        </div>
        <div class="social-button">
          <a class="fb" href="#"><span class="ficon s-ico"></span>Sign in with Facebook</a>
        </div>
      </div>    
</div>